@model FarmaciaLasFlores.Models.UsuariosViewModel
@{
    ViewData["Title"] = "Crear Usuario";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>

<!-- Mensaje de error general -->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<!-- Título de lista de usuarios -->
<h3 class="mt-5 text-center">Usuarios Existentes</h3>

<!-- Tabla de usuarios -->
<table class="table table-bordered table-striped table-hover mt-4">
    <thead class="table-light">
        <tr>
            <th>Nombre</th>
            <th>Posición</th>
            <th>Email</th>
            <th>Nombre de Usuario</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.ListaUsuarios)
        {
            <tr>
                <td>@usuario.Nombre</td>
                <td>@usuario.Posicion</td>
                <td>@usuario.email</td>
                <td>@usuario.NombreUsuario</td>
                <td>@usuario.Rol.NombreRoles</td>
                <td>@(usuario.Estado ? "Activo" : "Inactivo")</td>
                <td>
                    <a asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@usuario.Id" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-area="" asp-controller="Users" asp-action="Delete" asp-route-id="@usuario.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
