@model FarmaciaLasFlores.Models.VentasViewModel

@{
    ViewData["Title"] = "Productos Disponibles";
}

<div class="d-flex justify-content-between mb-4">
    <a asp-action="Index" class="btn btn-custom-secondary">Regresar</a>
    <a asp-action="Carrito" class="btn btn-custom-secondary">Ver Carrito</a>
</div>

<h2 class="text-center mb-4 text-custom-primary">Productos Disponibles</h2>

<form asp-action="Details" method="get" class="mb-4">
    <div class="input-group">
        <input asp-for="SearchString" class="form-control" placeholder="Buscar por nombre o tipo de medicamento..." />
        <button type="submit" class="btn btn-primary">Buscar</button>
        <a href="@Url.Action("Details")" class="btn btn-outline-secondary">Limpiar</a>
    </div>
</form>

<!-- Mostrar Productos -->
<table class="table table-bordered table-striped table-hover shadow-sm">
    <thead class="bg-custom-primary text-white">
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio Venta</th>
            <th>Tipo Medicamento</th>
            <th>Fecha Registro</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model.ListaProductos)
        {
            <tr>
                <td>@producto.Nombre</td>
                <td>@producto.Cantidad</td>
                <td>@producto.PrecioVenta</td>
                <td>@producto.Medicamentos.TipoMedicamento</td>
                <td>@producto.FechaRegistro.ToString("dd/MM/yyyy")</td>
                <td>
                    <form method="post" asp-action="AddToCart">
                        <input type="hidden" name="ProductoId" value="@producto.Id" />
                        <button type="submit" class="btn btn-custom-success">Agregar al Carrito</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Estilos personalizados -->
<style>
    body {
        background-color: #ede6e9;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #171d18;
        margin: 0;
    }

    .btn-custom-secondary {
        background-color: #7583a0;
        color: white;
        border: none;
    }

        .btn-custom-secondary:hover {
            background-color: #1b3488;
            color: white;
        }

    .btn-custom-success {
        background-color: #25a152;
        color: white;
        border: none;
    }

        .btn-custom-success:hover {
            background-color: #8ba22e;
            color: white;
        }

    .bg-custom-primary {
        background-color: #1b3488;
    }

    .text-custom-primary {
        color: #1b3488;
    }
</style>